@import "./import.css";

*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}
<<<<<<< HEAD
body{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size:24px;
}
h2{
    color:#ffffff;
}
=======

body {
	background-color: #CCBFDD;
	font-family: 'Roboto', sans-serif;
}
>>>>>>> aa54cd6152dc6115152d75c99503e21e132559e0
