@import "./import.css";

*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}

body {
	max-width: 1200px;
	margin: auto;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 24px;
}

main {
	background-color: #CCBFDD;
}

h2{
    color:#ffffff;
}
