header {
    display: flex;
    justify-content: space-around;
    padding: 20px;
	background-color: #CCBFDD;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
}

.logotype {
    width: 76px;
    height: 53px;
    background-color: #F0D553;
    margin: 0 50% 17px 50%;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
}

.slogan {
    font-size: 24px;
    width: 235px;
    height: 37px;
    text-align: center;
    padding: 10px 2.5px 2.5px 2.5px;
    color: #FFFFFF;
    background-color: #38639A;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    width: 606px;
    height: 120px;
    color: #38639A;
    background-color: #F0D553;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
}

/* header{
    display: flex;
    margin: 20px;

}
.header{
    float: left;
    width: 350px;
    text-align: center;
 
}
.logotype{
    width: 76px;
    height: 53px;
    background-color: #F0D553;
margin: 0 50%;
}
.slogan{
    font-size: 24px;
    width: 235px;
    height: 37px;
    text-align: center;
    padding: 10px 2.5px 2.5px 2.5px;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    background-color: #38639A;


}
h1{
    font-size: 48px;
    display: grid;
    width: 606px;
    height: 120px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #38639A;
    background-color: brown;
}*/
