.toolbox {
    width: 100%;
    padding: 10px 0 5px 0;
    margin: 20px 0 20px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #BEB8BF;
}

.icon {
    height: 50px;
    width: 50px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.50));
}

.icon:hover {
    transform: scale(1.1);
}